*/.package.json.prev
**/build
**/composes
**/staging
**/deploy
*.DS_STORE
architekt.log
*/architekt.log
**/node_modules
*.pem
.terraform
.history.txt
*/.history.txt
setupfile
*image/
**/dist/
*release/
*.package.json.prev
*package-lock.json
**/.preset
**/release
*/env.browser.js
*.nyc_output
*coverage
**/store
.preset
.vscode/*
